@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fbfd;
  color: #183b56;
}
.nav ul li {
  transition: font-size 0.2s ease, padding 0.2s ease;
}
.main-container {
  margin-top: 60px; 
}

@media (max-width: 768px) {
  .nav ul li {
    font-size: 14px;
  }
  .searchBar{
    max-width:200px;
  }
  .searchButton{
    max-width:100px;
  }

  .main-container {
    margin-top: 100px; 
  }
}

@media (max-width: 480px) {
  .nav ul li {
    font-size: 13px;
  }

  .main-container {
    margin-top: 120px; 
  }
}
